# Node
frontend/package-lock.json
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
frontend/build/
frontend/dist/

# Vite cache
frontend/node_modules/.vite/

## Firebase
.firebase/

# Logs
*.log

# Local dev env files
.env

# Secrets
secrets/
*.json
