:root {
	--space-header-gap: 8px;
	--control-height: 56px;
}

@media (max-width: 1024px) {
	:root {
		--space-header-gap: 6px;
		--control-height: 48px;
	}
}

@media (max-width: 600px) {
	:root {
		--space-header-gap: 3px;
		--control-height: 38px;
	}
}
